body {
    margin: 0;
    font-family: Archivo;
    background-color: #F2F2F2;
    color: #191919;
}

header {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #191919;
}


.logo {
   
    width: 250px; 
    height: auto;
    flex-shrink: 0; 
}

nav a {
    text-decoration: none;
    color: #F2F2F2;
    margin: 0 15px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav a:hover {
    color: #D8761D;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #D8761D;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scaleY(1);
}

nav a:first-child::before {
    display: none;
}


@media (max-width: 1000px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #191919;
        position: relative; /* Ensures absolute positioning works */
    }
    
    .logo {
        width: 250px;
        height: auto;
        flex-shrink: 0;
    }
    
    .nav-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position below the navbar */
        left: 0;
        right: 0;
        background-color: #191919;
        padding: 10px;
        gap: 10px;
        z-index: 10; /* Ensures it appears above other elements */
        animation: slide-down 0.3s ease-in-out;
    }
    
    nav:hover .nav-links {
        display: flex; /* Show links when hovering over the navbar */
    }
    
    nav a {
        text-decoration: none;
        color: #F2F2F2;
        font-size: 16px;
        text-transform: uppercase;
        transition: color 0.3s;
    }
    
    nav a:hover {
        color: #D8761D;
    }
    
    /* Animation */
    @keyframes slide-down {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}



section{
    display: flex;
    flex-direction: column;
}


.step1
.secimg{
    height: 500px;
    border-radius: 10px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}